body{ height:100vh; margin:0; background-color: #B4CFB0;}
footer{ min-height:50px; background:#94B49F; }

body{ 
  display: flex; 
  flex-direction: column; 
}

footer{
  margin-top: auto; 
  text-align: center;
  color: black;
  font-weight: normal;
  border-top: 1px solid black
}

.sigaatitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #94B49F;
    padding: 1%;
    border-bottom: 1px solid black
}

.sigaatitulo h2 {
    margin: auto;
}

.sigaalogin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E5E3C9   ;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    font-weight: normal;
}

.sigaalogin input {
    margin: 2px;
}

.sigaalogin button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.sigaalogin form{
    padding: 1%;
}




